/* https://color.adobe.com/es/create/color-wheel  link para  tabla de colores*/

/* menu desplegable *//* Color Theme Swatches in Hex */
.Arquitectura-1-hex { color: #1D2C40; }
.Arquitectura-2-hex { color: #3C5473; }
.Arquitectura-3-hex { color: #5D84A6; }
.Arquitectura-4-hex { color: #8FBDD9; }
.Arquitectura-5-hex { color: #CEE8F2; }

/* Color Theme Swatches in RGBA */
.Arquitectura-1-rgba { color: rgba(28, 43, 63, 1); }
.Arquitectura-2-rgba { color: rgb(72, 84, 100); }
.Arquitectura-3-rgba { color: rgba(92, 131, 165, 1); }
.Arquitectura-4-rgba { color: rgba(143, 188, 216, 1); }
.Arquitectura-5-rgba { color: rgba(205, 231, 242, 1); }

/* Color Theme Swatches in HSLA */
.Arquitectura-1-hsla { color: hsla(213, 37, 18, 1); }
.Arquitectura-2-hsla { color: hsla(213, 31, 34, 1); }
.Arquitectura-3-hsla { color: hsla(208, 29, 50, 1); }
.Arquitectura-4-hsla { color: hsla(202, 49, 70, 1); }
.Arquitectura-5-hsla { color: hsla(196, 58, 87, 1); }