@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zax60m');
  src:  url('fonts/icomoon.eot?zax60m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zax60m') format('truetype'),
    url('fonts/icomoon.woff?zax60m') format('woff'),
    url('fonts/icomoon.svg?zax60m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-images:before {
  content: "\e90e";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-circle-down:before {
  content: "\ea43";
}
